<div class="container">
  <table class="table container">
    <thead>
      <tr>
        <th scope="col">S.no.</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Ankul</td>
        <td>22</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Satyam</td>
        <td>22</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Ramesh</td>
        <td>25</td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addwinner()" class="btn btn-success">Add to winner</button>

</div>